<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yagnik.flash.light">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.flash"/>
    <uses-feature android:name="android.hardware.camera" />
</manifest>
